<div class="login-box-body">
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-card class="my-card">
        <mat-card-content>
          <form class="my-form" [formGroup]="companyLogin" (ngSubmit)="login(companyLogin)">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                required>
              <mat-error>Email is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" placeholder="Password" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                required>
              <mat-error>Password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="companyLogin.invalid" (click)="login()" color="primary">LOGIN</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Register">
      <mat-card class="my-card">
        <mat-card-content>
          <form class="my-form" [formGroup]="companyRegistration" (ngSubmit)="registration(companyRegistration)">
            <mat-form-field class="full-width">
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="companyName" placeholder="Company Name" name="companyName" required>
              <mat-error>Company Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Email" name="email" required>
              <mat-error>Email is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Password" name="password"
                required>
              <mat-error>Password is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" name="address" required>
              <mat-error>Address is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="City" name="city">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="State" name="state">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" placeholder="Country" name="country">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Zip</mat-label>
              <input matInput formControlName="zip" placeholder="Zip" name="zip">
            </mat-form-field>
            <button mat-raised-button [disabled]="companyRegistration.invalid" color="primary">REGISTER</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>