<div class="form-container">
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-card class="example-card">
        <mat-card-content>
          <form class="" action="" [formGroup]="lrForm" (ngSubmit)="login(lrForm)">

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error>Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" required>
              <mat-error>Password is required</mat-error>
            </mat-form-field>

          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="lrForm.invalid" color="primary">LR Login</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Register">
      <mat-card class="example-card">
        <mat-card-content>
          <form class="" action="" [formGroup]="lrRegistration" (ngSubmit)="registration(lrRegistration)">

            <mat-form-field>
              <mat-label>Learning Resource Name</mat-label>
              <input matInput placeholder="Learning Resource" formControlName="lrName" required>
              <mat-error>Learning Resource is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error>Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password" required>
              <mat-error>Password is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="LR Email" formControlName="lremail" required>
              <mat-error>Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>LR Type</mat-label>
              <mat-select placeholder="Favorite food">
                <mat-option>Select LR Type</mat-option>
                <mat-option value="1">One</mat-option>
                <mat-option value="2">Two</mat-option>
              </mat-select>
              <mat-error>Lr Type is requried</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" name="address">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="City" name="city">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="State" name="state">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" placeholder="Country" name="country">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Zip</mat-label>
              <input matInput formControlName="zip" placeholder="Zip" name="zip">
            </mat-form-field>

          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="lrRegistration.invalid" color="primary">LR Register</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>