<nav
  class="navbar navbar-expand-lg navbar-dark border-0 bg-transparent position-absolute start-0 end-0 nav-tp"
  role="navigation"
>
  <div class="container">
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['']">
      <!-- <span>Talent Factories</span> -->
      <img src="/assets/img/logo1.png" alt="Logo" width="130px" />
    </a>

    <div class="dropdown d-flex d-lg-none">
      <a
        href="#"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="avatar">
          <img
            src="assets/img/uifaces/9.jpg"
            class="avatar-image rounded-circle"
            alt=""
          />
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="#!">My profile</a>
        <a class="dropdown-item" href="#!">Account settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#!">Log out</a>
      </div>
    </div>

    <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbar-collapse">
      <ul class="navbar-nav align-items-lg-center justify-content-end w-100">
        <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
              Landing
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="index-web-product.html" class="dropdown-item">
                  Web product
                </a>
              </li>
              <li>
                <a href="index-business.html" class="dropdown-item">
                  Online business
                </a>
              </li>
              <li>
                <a href="index-directory.html" class="dropdown-item">
                  Directory
                </a>
              </li>
              <li>
                <a href="index-enterprise.html" class="dropdown-item">
                  Enterprise
                </a>
              </li>
              <li>
                <a href="index-agency.html" class="dropdown-item">
                  Creative agency
                </a>
              </li>
              <li>
                <a href="index-courses.html" class="dropdown-item">
                  Online courses
                </a>
              </li>
            </ul>
          </li> -->

        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/job-postpage']">
            Job
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            Authentication
          </a>
          <ul class="dropdown-menu">
            <!-- <li class="dropdown dropend">
                  <a [routerLink]="['/Sign-Up']" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign up
                  </a>
                   <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="sign-up.html">Basic</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="sign-up-quote.html">Side quote</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="sign-up-cover.html">Side cover</a>
                    </li>
                  </ul> 
                </li>-->
            <li class="dropdown dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Institutions
              </a>
              <ul class="dropdown-menu dropdown-sign">
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Institutions')"
                    [routerLink]="['/Sign-Up']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign up
                  </a>
                </li>
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Institutions')"
                    [routerLink]="['/Sign-In']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign in
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Professional
              </a>
              <ul class="dropdown-menu dropdown-sign">
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Professional')"
                    [routerLink]="['/Sign-Up']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign up
                  </a>
                </li>
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Professional')"
                    [routerLink]="['/Sign-In']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign in
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Student
              </a>
              <ul class="dropdown-menu dropdown-sign">
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Student')"
                    [routerLink]="['/Sign-Up']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign up
                  </a>
                </li>
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Student')"
                    [routerLink]="['/Sign-In']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign in
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Employer
              </a>
              <ul class="dropdown-menu dropdown-sign">
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Employer')"
                    [routerLink]="['/Sign-Up']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign up
                  </a>
                </li>
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Employer')"
                    [routerLink]="['/Sign-In']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign in
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Admin
              </a>
              <ul class="dropdown-menu dropdown-sign">
                <!-- <li class="dropdown dropend">
                      <a (click)="signupType('Admin')" [routerLink]="['/Sign-Up']" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign up
                      </a>
                    </li> -->
                <li class="dropdown dropend">
                  <a
                    (click)="signupType('Admin')"
                    [routerLink]="['/Sign-In']"
                    class="dropdown-item dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Sign in
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li class="dropdown dropend">
                  <a [routerLink]="['/Sign-In']" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign in
                  </a>
                   <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="sign-in.html">Basic</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="sign-in-quote.html">Side quote</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="sign-in-cover.html">Side cover</a>
                    </li>
                  </ul> -->
            <!-- </li>
                <li class="dropdown dropend">
                  <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recover password
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="recover-password.html">Basic</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="recover-password-cover.html">Side cover</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="email-verification.html" class="dropdown-item">
                    Email verification
                  </a>
                </li>
                <li>
                  <a href="two-step-verification.html" class="dropdown-item">
                    2-step verification
                  </a>
                </li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/contact-us']">
            Contact
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/About-Us']">About Us</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            Pages
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/About-Us']">
                About Us
              </a>
            </li>
            <li>
                <a href="contact.html" class="dropdown-item">
                  Contact
                </a>
              </li>
              <li class="dropdown dropend">
                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="blog.html">Blog feed</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-post.html">Blog post</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropend">
                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="account.html">General</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-notifications.html">Notifications</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-billing.html">Billing & Payments</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-teammates.html">Teammates</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropend">
                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pricing
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="pricing.html">Pricing plans</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pricing-charts.html">Pricing charts</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="support.html" class="dropdown-item">
                  Support
                </a>
              </li>
              <li>
                <a href="invoice.html" class="dropdown-item">
                  Invoice
                </a>
              </li>
          </ul>
        </li> -->

        <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Theme docs
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="docs/index.html" class="dropdown-item">
                  Documentation
                </a>
              </li>
              <li>
                <a href="docs/changelog.html" class="dropdown-item">
                  Changelog
                </a>
              </li>
              <li>
                <a href="mailto:e.adrian90@gmail.com" class="dropdown-item">
                  Support
                </a>
              </li>
            </ul>
          </li> -->
        <!-- <li class="nav-item ms-lg-4">
            <a href="#!" class="btn btn-purple btn-sm">
              Buy now
            </a>
          </li> -->
      </ul>
    </div>
  </div>
</nav>
