<app-header></app-header>

<!-- Hero -->
<section
  class="bg-cover bg-cover-bottom overlay overlay-darkblue overlay-40 position-relative h-450 pt-12 mt-6 mt-md-7"
  style="background-image: url('assets/img/unsplash/1.jpg')"
>
  <div class="container position-relative">
    <!-- Post title -->
    <h1 class="display-4 text-white text-center">
      Seven Brief Lessons of Nature
    </h1>
  </div>

  <!-- Author & social -->
  <div class="position-absolute bottom-0 w-100 mb-4">
    <div class="container d-flex flex-column flex-sm-row align-items-center">
      <div class="d-flex">
        <div class="avatar me-4">
          <img
            src="assets/img/uifaces/5.jpg"
            class="avatar-image rounded-circle"
            alt=""
          />
        </div>
        <div class="flex-1">
          <span class="text-white text-uppercase-bold-sm"> John Harrison </span>
          <span class="text-white fs-sm d-block"> April 14, 2020 </span>
        </div>
      </div>

      <!-- Social links -->
      <div class="mt-4 mt-sm-0 ms-sm-auto">
        <a
          href="#"
          class="icon-circle icon-circle-sm bg-white text-dark hover-lift-light me-2"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="#"
          class="icon-circle icon-circle-sm bg-white text-dark hover-lift-light me-2"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="#"
          class="icon-circle icon-circle-sm bg-white text-dark hover-lift-light"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Article -->
<section class="mt-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- Intro phrase -->
        <p
          class="lead text-darkblue text-center border-bottom border-gray-100 pb-5"
        >
          Of all things which wisdom provides to make life entirely happy, much
          the greatest is the possession of friendship. It is not so much our
          friends' help that helps us, as the confidence of their help.
        </p>

        <p class="lead my-5">
          The things in our control are by nature free, unrestrained,
          unhindered; but those not in our control are weak, slavish,
          restrained, belonging to others. Remember, then, that if you suppose
          that things which are slavish by nature are also free, and that what
          belongs to others is your own, then you will be hindered. You will
          lament, you will be disturbed, and you will find fault both with gods
          and men.
        </p>

        <p class="lead my-5">
          But if you suppose that only to be your own which is your own, and
          what belongs to others such as it really is, then no one will ever
          compel you or restrain you. Further, you will find fault with no one
          or accuse no one. You will do nothing against your will. No one will
          hurt you, you will have no enemies, and you not be harmed.
        </p>

        <!-- Picture with caption -->
        <div class="text-center">
          <img
            src="assets/img/unsplash/13.jpg"
            class="img-fluid rounded-3 hover-lift-light my-2"
            alt=""
          />
          <div class="fs-sm text-muted mt-2 mb-5">
            Haselschacher Buck, Vogtsburg, Germany
          </div>
        </div>

        <p class="lead">
          Instead, you must entirely quit some things and for the present
          postpone the rest. But if you would both have these great things,
          along with power and riches, then you will not gain even the latter,
          because you aim at the former too: but you will absolutely fail of the
          former, by which alone happiness and freedom are achieved.
        </p>

        <p class="lead my-5">
          Of all things which wisdom provides to make life entirely happy, much
          the greatest is the possession of friendship. It is not so much our
          friends' help that helps us, as the confidence of their help.
        </p>

        <h4 class="mb-4">Day to day philosophy</h4>

        <p class="lead">
          Remember that following desire promises the attainment of that of
          which you are desirous; and aversion promises the avoiding that to
          which you are averse. However, he who fails to obtain the object of
          his desire is disappointed, and he who incurs the object of his
          aversion wretched. If, then, you confine your aversion to those
          objects only which are contrary to the natural use of your faculties,
          which you have in your own control, you will never incur anything to
          which you are averse. But if you are averse to sickness, or death, or
          poverty, you will be wretched.
        </p>

        <!-- Quote -->
        <div class="text-center my-5">
          <span
            class="display-1 text-darkblue d-block font-georgia font-italic mb-n4 mb-md-n5"
            >“</span
          >
          <p class="lead text-dark w-md-80 mx-auto mt-2">
            "Don't demand that things happen as you wish, but wish that they
            happen as they do happen, and you will go on well."
          </p>
          <span class="d-block text-gray-600 fs-sm mt-4"
            >Epictetus, The Enchiridion</span
          >
        </div>

        <p class="lead">
          Remove aversion, then, from all things that are not in our control,
          and transfer it to things contrary to the nature of what is in our
          control. But, for the present, totally suppress desire: for, if you
          desire any of the things which are not in your own control, you must
          necessarily be disappointed; and of those which are, and which it
          would be laudable to desire, nothing is yet in your possession. Use
          only the appropriate actions of pursuit and avoidance; and even these
          lightly, and with gentleness and reservation.
        </p>

        <!-- Author & social -->
        <div class="d-flex flex-column flex-sm-row align-items-center mt-6">
          <div class="d-flex">
            <div class="avatar me-4">
              <img
                src="assets/img/uifaces/13.jpg"
                class="avatar-image rounded-circle"
                alt=""
              />
            </div>
            <div class="flex-1">
              <span class="text-dark text-uppercase-bold-sm">
                John Harrison
              </span>
              <span class="text-muted opacity-90 fs-sm d-block">
                Posted on April 14, 2020
              </span>
            </div>
          </div>

          <!-- Social links -->
          <div class="mt-4 mt-sm-0 ms-sm-auto">
            <a href="#" class="text-decoration-none text-darkblue me-3">
              <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="#" class="text-decoration-none text-darkblue me-3">
              <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="#" class="text-decoration-none text-darkblue">
              <i class="fab fa-instagram fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Subscribe -->
<section class="bg-light text-center text-lg-start mt-7 py-6">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div>
        <h2 class="fw-normal">Subscribe to the blog</h2>
        <p class="text-muted lead">Receive our posts directly in your inbox.</p>
      </div>

      <form class="d-flex justify-content-center ms-lg-auto">
        <input
          type="text"
          class="form-control form-control-lg bg-white border-gray-200 w-100 w-md-250 w-xl-300"
          placeholder="Your email here"
        />
        <button
          type="button"
          class="btn btn-purple btn-lg hover-lift-light mt-3 mt-md-0 ms-md-3"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
