<app-header></app-header>

<!-- Intro -->
<section class="text-center mt-6 mt-md-7 bg-color">
  <div class="container pt-5 pt-md-5">
    <h1 class="text-dark fw-normal">Our latest news</h1>
    <p class="text-secondary lead">
      Updates, projects and interesting stories from our company
    </p>
  </div>
  <!-- </section> -->

  <!-- Posts -->
  <!-- <section class="mt-6 bg-color"> -->
  <div class="container mt-6">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <!-- Post -->
      <div class="col mt-2">
        <div
          class="card shadow-light hover-lift-light"
          [routerLink]="['/job-detailspage']"
        >
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><b>Angular Developer</b></h4>
            <h6 class="text-leftside">Macsof Technologies</h6>
            <p class="text-leftside">Type Script, Angular</p>
            <p class="text-leftside">Vizag, Andhra Pradesh</p>
            <p class="text-leftside">
              After sending message, with in 3 minute you will received full
              detail on your WhatssApp
            </p>
          </div>

          <!-- Author -->
          <div class="card-bottom-info">
            <span class="text-uppercase-xs text-muted ms-2">
              David Gilmour
            </span>
            <div class="text-uppercase-xs text-muted ms-auto">
              <i class="far fa-calendar relative-top--1"></i>
              May 11
            </div>
          </div>
        </div>
      </div>

      <!-- Post -->
      <div class="col mt-2">
        <div
          class="card shadow-light hover-lift-light"
          [routerLink]="['/job-detailspage']"
        >
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><b>React Developer</b></h4>
            <h6 class="text-leftside">Macsof Technologies</h6>
            <p class="text-leftside">Java Script, react Technologies</p>
            <p class="text-leftside">Vizag, Andhra Pradesh</p>
            <p class="text-leftside">
              After sending message, with in 3 minute you will received full
              detail on your WhatssApp
            </p>
          </div>

          <!-- Author -->
          <div class="card-bottom-info">
            <span class="text-uppercase-xs text-muted ms-2">
              David Gilmour
            </span>
            <div class="text-uppercase-xs text-muted ms-auto">
              <i class="far fa-calendar relative-top--1"></i>
              May 11
            </div>
          </div>
        </div>
      </div>

      <!-- Post -->
      <div class="col mt-2">
        <div
          class="card shadow-light hover-lift-light"
          [routerLink]="['/job-detailspage']"
        >
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><b>Vue Developer</b></h4>
            <h6 class="text-leftside">Macsof Technologies</h6>
            <p class="text-leftside">Java Script, Vue Technologies</p>
            <p class="text-leftside">Vizag, Andhra Pradesh</p>
            <p class="text-leftside">
              After sending message, with in 3 minute you will received full
              detail on your WhatssApp
            </p>
          </div>

          <!-- Author -->
          <div class="card-bottom-info">
            <span class="text-uppercase-xs text-muted ms-2">
              David Gilmour
            </span>
            <div class="text-uppercase-xs text-muted ms-auto">
              <i class="far fa-calendar relative-top--1"></i>
              May 11
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <!-- <div class="text-center mt-6">
      <a href="#" class="btn btn-purple hover-lift text-uppercase-bold-sm">
        <i class="fas fa-chevron-left me-2"></i>
        See the archive
      </a>
    </div> -->

    <!-- Subscribe -->
    <div class="border-top border-gray-200 text-center text-lg-start mt-7 py-6">
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <div>
          <h2 class="fw-normal">Subscribe to the Blog</h2>
          <p class="text-muted lead">
            Receive our posts directly in your inbox.
          </p>
        </div>

        <form class="d-flex justify-content-center ms-lg-auto">
          <input
            type="text"
            class="form-control form-control-lg bg-white border-gray-200 w-100 w-md-250 w-xl-300"
            placeholder="Your email here"
          />
          <button
            type="button"
            class="btn btn-warning btn-lg hover-lift-light mt-3 mt-md-0 ms-md-3"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
