<!-- <app-header></app-header> -->
<section class="container text-center py-5 py-md-6 py-xl-8 mg-top">
  <a>
    <img src="/assets/img/logo1.png" alt="" width="100px" />
  </a>

  <h4 class="fw-normal text-dark mt-5">Log in to your account</h4>

  <div class="row justify-content-center mt-4 pt-3">
    <div class="col-md-6 col-lg-4">
      <form [formGroup]="signinForm">
        <div class="mb-3">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control form-control-lg bg-pastel-darkblue"
            formControlName="email"
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control form-control-lg bg-pastel-darkblue"
            formControlName="password"
          />
        </div>

        <input
          type="submit"
          class="btn btn-primary btn-lg shadow-light text-uppercase-bold-sm hover-lift mt-4"
          value="Sign in"
          (click)="signin()"
        />

        <!-- <a class="d-block fs-sm mt-5"> Forgot your password? </a> -->

        <div class="text-secondary fs-sm mt-3">
          Don't have an account?
          <a [routerLink]="['/Sign-Up']">Sign up</a>
        </div>

        <div class="text-secondary fs-sm mt-3">
          Back to Home Page Click Here
          <a [routerLink]="['']">Home</a>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->
