<app-header></app-header>
<!-- Intro -->
<div class="pt-8 pt-md-8">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="display-4 text-darkblue">
          Talent Factory was founded to help developers build the products
          <span class="text-purple">of the future</span>.
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- Collage -->
<div class="mt-6">
  <div class="container-fluid">
    <div class="row g-0">
      <!-- Left side -->
      <div class="col-md-6 text-end pe-2">
        <img
          src="assets/img/unsplash/25.jpg"
          class="img-fluid w-lg-500 mt-lg-8"
          alt=""
        />
        <img src="assets/img/unsplash/24.jpg" class="img-fluid mt-3" alt="" />

        <div class="text-start w-xl-400 float-xl-end me-xl-7 mt-5 mt-lg-6">
          <div class="d-flex align-items-center">
            <span class="text-purple text-uppercase-bold-sm"> About us </span>
          </div>

          <h2 class="text-dark fw-normal mt-4">
            Talent Factory is a technology company that creates high quality
            resources for any <span class="text-purple">online project</span>.
          </h2>

          <h2 class="text-dark fw-normal mt-4">
            Businesses of any size can improve their speed and efficiency by
            using our products.
          </h2>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-md-6 ps-2 mt-5 mt-md-0">
        <img src="assets/img/unsplash/23.jpg" class="img-fluid" alt="" />
        <img src="assets/img/unsplash/22.jpg" class="img-fluid mt-3" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- Team -->
<div class="border-top border-gray-200 mt-4 mt-md-6 pt-6 pt-md-8">
  <div class="container">
    <div class="row">
      <!-- Left side -->
      <div class="col-md-6">
        <div class="row g-0">
          <div class="col-md-6">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/21.jpg')"
            >
              <div class="text-white text-uppercase-bold-sm">
                Laura Robinson
              </div>
              <div class="text-white fs-sm mt-1">Founder/CEO</div>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0 pt-md-5">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/19.jpg')"
            >
              <div class="text-dark text-uppercase-bold-sm">Eric Stevens</div>
              <div class="text-dark fs-sm mt-1">UX Designer</div>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/18.jpg')"
            >
              <div class="text-white text-uppercase-bold-sm">Robert Dante</div>
              <div class="text-white fs-sm mt-1">Programmer</div>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0 pt-md-5">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/20.jpg')"
            >
              <div class="text-white text-uppercase-bold-sm">
                Andrea Lawrence
              </div>
              <div class="text-white fs-sm mt-1">Designer</div>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/16.jpg')"
            >
              <div class="text-white text-uppercase-bold-sm">
                Phillip Warner
              </div>
              <div class="text-white fs-sm mt-1">Dev Ops</div>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0 pt-md-5">
            <div
              class="bg-cover h-350 p-4"
              style="background-image: url('assets/img/unsplash/17.jpg')"
            >
              <div class="text-white text-uppercase-bold-sm">
                Andrea Lawrence
              </div>
              <div class="text-white fs-sm mt-1">Developer</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-md-5 offset-md-1 mt-5 mt-md-0">
        <div class="position-sticky" style="top: 20px">
          <div class="d-flex align-items-center">
            <span
              class="text-purple text-uppercase fs-sm fw-bolder letter-spacing-lg"
            >
              The team
            </span>
          </div>

          <h1 class="mt-4">The creative team behind Talent Factory</h1>

          <div class="text-uppercase fs-sm fw-bolder letter-spacing-lg mt-5">
            Who we are
          </div>
          <p class="text-gray-600 mt-3">
            We are a creative team from all over the world, we strive to make
            great work by being resourceful, organized and creative.
          </p>

          <div class="text-uppercase fs-sm fw-bolder letter-spacing-lg mt-5">
            Our mission
          </div>
          <p class="text-gray-600 mt-3">
            To inspire our clients and ourselves in everything we do, always
            trying to achieve great results by working smart.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call to action -->
<div class="text-center mt-4 py-6">
  <div class="position-relative">
    <h1>Want to improve your career?</h1>
    <p class="lead">
      If you are looking to join a great company, we'd love to hear from you
    </p>
    <a
      href="#!"
      class="btn btn-warning btn-lg rounded-pill hover-lift-light mt-4"
    >
      See our careers
      <i class="fas fa-arrow-right fa-xs ms-2"></i>
    </a>
  </div>
</div>

<app-footer></app-footer>
