* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
}
.menu {
  width: 20%;
  background-color: #121227;
}
#logo {
  color: #fff;
  font-size: 30px;
  letter-spacing: 4px;
  padding: 15px;
  background-color: #000;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  display: list-item;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.menu a:hover {
  background-color: red;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.body h1 {
  margin-top: 250px;
  color: #fff;
  letter-spacing: 4px;
  padding: 20px;
  background-color: #000;
}

.nav-item {
  font-size: 18px;
  margin: 15px 0px;
}

.nav-pills .nav-link.active {
  background-color: inherit;
  color: #1e2e50;
  // font-weight: 600;
}

label {
  color: #1e2e50;
  font-weight: 600;
  margin: 10px 0px;
}

.control-width {
  width: 85% !important;
  line-height: 2.5 !important;
}
.submit {
  width: 100px;
  height: 40px;
  color: #fff;
}
.control-pass {
  width: 25% !important;
  line-height: 2.5 !important;
}
.padd-dropdown {
  padding: 5px 10px !important;
}
.bg-colors {
  background: #f6f9fc;
  height: 100vh;
}
.margin-lefts {
  margin-left: 2em;
}
.mg-left {
  margin-left: 10px;
}

.mg-auto {
  margin: auto;
}

.pg-all {
  padding: 15px;
}

.modal-ft {
  margin: 10px 0px;
}

.modal-ft .btn {
  // margin-right: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.userdetails-form {
  background: #fff;
  padding: 45px;
  border-radius: 20px;
  font-family: var(--bs-font-sans-serif);
}

.userdetails-form label {
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
}

button {
  font-family: var(--bs-font-sans-serif) !important;
  color: #1e2e50;
}

.navbar-height {
  height: 70px;
}

.dropdown-item {
  padding: 10px 10px !important;
}
.modal-form {
  padding: 0px 10px;
}
.modal-form input {
  padding-left: 10px;
}
.modal-footer .close {
  color: #fff;
}

.modal-footer .save {
  color: #fff;
}

.modal-header h5 {
  color: #1e2e50;
  margin-bottom: 10px;
}

.modal-header .btn-close {
  color: #1e2e50;
  margin-bottom: 5px;
  margin-right: 5px;
}

//card css

.card-big-shadow {
  max-width: 320px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius="none"] {
  border-radius: 0px;
}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .card-footer,
.card[data-background="image"] small,
.card[data-background="image"] .content a,
.card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .card-footer,
.card[data-background="color"] small,
.card[data-background="color"] .content a,
.card[data-background="color"] .content p {
  color: #000;
  margin: 8px 0px;
}
.card.card-just-text .content {
  padding: 25px 15px;
  text-align: center;
}
.card .content {
  padding: 20px 20px 10px 20px;
}
.card[data-color="blue"] .category {
  color: #000;
}

.card .category,
.card .label {
  font-size: 22px;
  margin-bottom: 0px;
}
.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
h4,
.h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}
h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
.card .description {
  font-size: 16px;
  color: #66615b;
}
.content-card {
  margin-top: 30px;
}
a:hover,
a:focus {
  text-decoration: none;
}
